.header{
  background: rosybrown;
  height: 150px;
}

.footer{
  width: 100%;
  height: 150px;
  float: left;
  background: salmon;
}

.left{
  background: seagreen;
  width: 30%;
  float: left;
  height: 500px;
}

.right{
  background: skyblue;
  width: 70%;
  height: 500px;
  float: left;
}


.copy{
  text-align: center;

}